body {
    
    background-color: hsl(200, 39%, 95%);
    color: #001b44;

    margin: auto;
    width: 80%;
    padding: 10px
}


#topbar {
    padding: 10px;
    font-size: 1.5em;
}

#startMenu {
    margin: auto;
    width: 90%;
    padding: 10px;
    background-color: #ffe9df;
}

#startMenu {
    margin: 10px;
}

#questionSection {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #ffe9df;
}

#questionSection li {
    color: black;
    /* background-color: rgb(238, 191, 159); */
    width: 60%;
    margin: 15px;
    margin-left: 30px;
    padding: 5px;
    list-style-type: Upper-alpha;
}    


#questionSection li:hover {
    font-weight: bolder;
    text-decoration: underline;
    cursor: pointer;
}


#startMenu button {
    color: white;
    background-color: #ff7034;

    height: 2em;
    width: 5em;
    cursor: pointer;
    font-size: 2em;
}

#gameOver {
    margin: auto;
    width: 80%;
    padding: 10px;
    background-color: #ffe9df;

    font-size: larger;
    font-weight: bolder;
}


 #gameOver li{
    height: 50px;
    margin: 10px 20px 10px 20px;
    padding: 5px;

    color: white;
    background-color: #001b44;

    font-size: 1.5em;
    line-height: 1.5;
    border-radius: 0;
    list-style-type: circle;
 }

 #gameOver li button{
    float: right;
    color: white;
    background-color: #ff7034;

    height: 40px;
    margin: 5px;
    cursor: pointer;
    font-size: 1em;
 }